table, th, td {
  border: 1px solid black;
  text-align:center;
}

.WHITE {
    background-color: white;
    color: black;
}

.BLACK {
    background-color: black;
    color: white;
}

.GREEN {
    background-color: green;
    color: white;
}
