<!DOCTYPE html>
<html lang="en">
<body>
    <form class="question" id="numberLocation-67">
        <p>Hol vannak a #6-es vagy #7-es számjegyek?</p>
        
        <div>
            <input type="radio" id="number6" name="numberLocation-67" required>
            <label for="number6">#6 szám</label>
        </div>
        
        <div>
            <input type="radio" id="number7" name="numberLocation-67" required>
            <label for="number7">#7 szám</label>
        </div>
        <input type="submit" value="Megkérdez">
    </form>
</body>
</html>