<!DOCTYPE html>
<html lang="en">
<body>
    <form class="question" id="numberLocation-12">
        <p>Hol vannak az #1-es vagy #2-es számjegyek?</p>
        
        <div>
            <input type="radio" id="number1" name="numberLocation-12" required>
            <label for="number1">#1 szám</label>
        </div>
        
        <div>
            <input type="radio" id="number2" name="numberLocation-12" required>
            <label for="number2">#2 szám</label>
        </div>
        <input type="submit" value="Megkérdez">
    </form>
</body>
</html>