<!DOCTYPE html>
<html lang="en">
<body>
    <form class="question" id="numberLocation-89">
        <p>Hol vannak a #8-es vagy #9-es számjegyek?</p>
        
        <div>
            <input type="radio" id="number8" name="numberLocation-89" required>
            <label for="number8">#8 szám</label>
        </div>
        
        <div>
            <input type="radio" id="number9" name="numberLocation-89" required>
            <label for="number9">#9 szám</label>
        </div>
        <input type="submit" value="Megkérdez">
    </form>
</body>
</html>