<!DOCTYPE html>
<html lang="en">
<body>
    <form class="question" id="numberLocation-34">
        <p>Hol vannak a #3-es vagy #4-es számjegyek?</p>
        
        <div>
            <input type="radio" id="number3" name="numberLocation-34" required>
            <label for="number3">#3 szám</label>
        </div>
        
        <div>
            <input type="radio" id="number4" name="numberLocation-34" required>
            <label for="number4">#4 szám</label>
        </div>
        <input type="submit" value="Megkérdez">
    </form>
</body>
</html>