<!DOCTYPE html>
<html lang="en">
<body>
    <div id="elementsInArrayContainer"
         style="width: 230px;
                margin-bottom: 10px;
                padding: 10px 0px 10px 5px;
                border: 1px solid black;">
        <form id="elementsInArrayForm">
            <label>Hány db szám van egy játékosnál?</label>
            <br>
            <input type="radio" id="elements4" name="elementsInArray">
            <label for="elements4">4 db szám</label>
            <br>
            
            <input type="radio" id="elements5" name="elementsInArray" checked>
            <label for="elements5">5 db szám</label>
            <br>
            <br>
            <input type="submit" value="Megad">
        </form>
    </div>
</body>
</html>
