#container {
    display: flex;
}

.filters {
    display: flex;
}

.filters .first {
    width: 350px;
}

.filters .second {
    padding-left: 20px;
    width: 350px;
}

.filters form {
    margin-bottom: 10px;
    padding: 10px 0px 10px 5px;
    border: 1px solid black;
}
.filters br {
    display: block;
    padding-bottom: 300px;
}

.filters input[type=number], .filters input[type=text] {
    width: 100px;
    margin: 10px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
}

.filters input[type=submit] {
    float: right;
    margin: 0px 10px 0px 0px;
    padding: 5px 5px 5px 5px;
}

.radioMarginTop {
    margin-top: 10px;
}