body {
    padding-left: 30px;
}

#container {
    display: flex;
}

#title {
    color: #2fb334;
}

#elementsInArrayContainer {
    width: 230px;
    margin-bottom: 10px;
    padding: 10px 0px 10px 5px;
    border: 1px solid black;
}
