<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kódok harca</title>

<!-- For live editing   -->
    <link rel="icon" type="image/png" href="../static/image/favicon.png" />

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/combination.css">

<!-- For when running the application   -->
    <link rel="icon" type="image/png" href="image/favicon.png" />

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/combination.css">
</head>

<body>
    <h1 id="title">KÓDOK HARCA</h1>
    <br>
    <div id="elementsInArrayContainer">
        <form id="elementsInArray">
            <label>Hány db szám van egy játékosnál?</label>
            <br>
            <input type="radio" id="elements4" name="elementsInArray">
            <label for="elements4">4 db szám</label>
            <br>

            <input type="radio" id="elements5" name="elementsInArray" checked>
            <label for="elements5">5 db szám</label>
            <br>
            <br>
            <input type="submit" value="Megad">
        </form>
    </div>

    <div id="container">
        <div id="combinationsContainer">
            <h3 th:text="'Kombinációk: ' + ${combinations.size()}">aaa</h3>
            <table>
                <tr>
                    <th class="indexHeader">index</th>
                    <th:block th:each="header, rowStat : ${headerIterable}">
                        <th class="combinationNumberTH" th:text="${rowStat.index} + 1">aaa</th>
                    </th:block>
                    <th class="numberTHs">Numbers</th>
                </tr>
                <tr th:each="combination, rowStat : ${combinations}">
                    <td th:text="${rowStat.index} + 1">aaa</td>
                    <th:block th:each="number : ${combination}">
                        <td th:class="${number.color}" th:text="${number.value}">aaa</td>
                    </th:block>
                    <td>
                        <th:block th:each="number : ${combination}" th:text="${number.value}">aaa</th:block>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</body>
</html>